<div class="container" style="margin-top:10px;">
  	<h1>Assignment.</h1>
  	<p class="font-weight-bolder">3, 5, 9, 15, X, Y, Z  - Please create a new function for finding X, Y, Z value.</p>
  	<div class="panel panel-default">
 		<div class="panel-heading">Result</div>
    	<?php if ($this->data): ?>
	    	<!-- A table of some data. -->
		    <table class="table">
		        <tr>
		            <th>ID</th>
		            <th>Value</th>
		        </tr>	 
		        <?php foreach ($this->data as $key => $val): ?>
		        <tr>
		            <td><?php echo $key; ?></td>
		            <td><?php echo $val; ?></td>
		        </tr>
		        <?php endforeach; ?>
		    </table>
		    <?php else: ?>
		    	<p>There are no data to display.</p>
		    <?php endif;?>
  		</div>
    </div>
</div>